<div class="page-header">
    <h1>FaroNLP <small> A website for Faroese NLP resources</h1>
</div>
<blockquote>
    <p>2spooky4me
    </p>
    <small>by <cite>Albert Einstein</cite></small>
</blockquote>
<p>A website for Faroese NLP resources. Ideally it will have various resources 
for NLP in the Faroese language. Text corpora of various kinds and tools used 
in various NLP tasks such as building a web corpus.</p>

<%= link_to "test", "/sample" %>
